<!-- TO DO -->
<!-- 1) Change color scheme (i.e. bg to White) -->
<!-- 2) Change coursepage name and references -->

<template name="coursepage">
	<div class = "container-full">

		<div class="row">
			<div class="col-lg-1 text-center v-center"></div>
			<div class="col-lg-8 text-center v-center">
				<!-- COURSE TITLE AND CODE -->
				<div class = "result">
					<a href="javascript:history.back()">Back to results</a>
					<h1 class="resultName">{{name}}</h1>
					<p class = "resultCode">{{number}}</p>
				</div>
			</div>
			<div class="col-lg-1 text-center v-center">
				<!-- COURSE TAGS -->
				<div class = "result">
					<br>
					<h1 class = "resultTag">AP H M</h1>
				</div>
			</div>
			<div class="col-lg-1 text-center v-center">
				<!-- SAVE BUTTON -->
				<div class = "result">
					<br>
					<h1 class = "resultTag"><a href="">SAVE</a></h1>
				</div>
			</div>

			<div class="col-lg-1 text-center v-center"></div>
		</div> <!-- /row -->

		<div class = "row">

			<div class="col-lg-1 text-center v-center"></div>

			<div class = "col-lg-10 text-center v-center">
				<div class = "result">
					<!-- COURSE INFO -->
					<p>{{longinfo}}</p>
				</div>
			</div>
			<div class="col-lg-1 text-center v-center"></div>
		</div><!-- /row -->

		<div class = "row">
			<div class="col-lg-1 text-center v-center"></div>
			<div class="col-lg-11 text-center v-center">
				<!-- PREREQUISITES -->
				<div class = "result" id = "preqRow">
					<h1 class="resultName">Prerequisites:</h1>
					<p class = "preq">Receive a B+ or higher.</p>
				</div>
			</div>
		</div><!-- /row -->

		<div class = "row">
			<div class="col-lg-12 text-center v-center">
				<!-- ADD COURSE -->
				<a href="/search">Add to Schedule</a>
			</div>
		</div><!-- /row -->
	</div> <!--/ container-full -->
</template>