<!-- TO DO -->
<!-- 1) Add search tags -->
<!-- 2) Add course tags -->
<!-- 3) Add save button -->
<!-- 4) Add search bar -->
<!-- 5) Fix screen width wiggle -->

<template name="courseresults">

	<div class="row">
	</div>

	<div class="row">
		<div class="col-lg-2 text-center v-center">

			<!-- SEARCH BAR IN HERE -->

		</div>
		<div class="col-lg-9 text-center v-center">
			
			{{#each courses}}
			<div class="result">
				<h1 class="resultName"><a class = "resultLink" href="/coursepage/{{this.number}}">{{name}}</a></h1>				
				<p class = "resultCode">{{number}}</p>
				<br>
				<p>
					{{shortinfo}}
				</p>
				<br><br>
				<hr>
			</div>
			{{else}}
				<p>No courses found.</p>
			{{/each}}

		</div>
	</div> <!-- /row -->

</template>