<!-- TO DO -->
<!-- 1) Add search tags -->
<!-- 2) Add course tags -->
<!-- 3) Add save button -->
<!-- 4) Add search bar -->
<!-- 5) Prevent No courses found from appearing first -->

<template name="courseresults">

	<div class="row">
	</div>

	<div class="row">
		<div class="col-lg-2 text-center v-center">

			<!-- SEARCH BAR IN HERE -->
			<p>SEARCH BAR HERE</p>

		</div> <!-- /col -->

		<div class="col-lg-9 text-center v-center">
			
			<!-- Display search results -->
			{{#each courses}}
			<div class="result">
				<h1 class="resultName"><a class = "resultLink" href="/coursepage/{{this.number}}">{{name}}</a></h1>				
				<p class = "resultCode">{{number}}</p>
				<br>
				<p>
					{{shortinfo}}
				</p>
				<br><br>
				<hr>
			</div>
			{{else}}
			<div class="head">
				<div class="face face__sad">
					<div class="eye-left"></div>
					<div class="eye-right"></div>
					<div class="mouth"></div>
				</div>
			</div>
			<h1 class="notfound">No courses found...</h1>
			<br>
			<div class="col-lg-4 text-center v-center"></div>
			<div class="col-lg-4">
				<form class="form form--login" action = "/search">
					<div class="form__field">
						<input class = "bigfont" type="submit" value="Try again">
					</div>
				</form>
			</div>
			{{/each}}

		</div> <!-- /col -->
	</div> <!-- /row -->

</template>