<template name="login">

	<!-- TITLE -->
	<div class="container-half">
		<br>
		<div class="row">
			<div class="col-lg-12 text-center v-center">
				<h2>courselect</h2>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container full -->

	<!-- LOGIN FORM -->
	<div class="site__container">
		<div class="grid__container">
			<form class="login form form--login">
				<div class="form__field">
					<label class="fontawesome-user" for="login__email"><span class="hidden">Email</span></label>
					<input id="login__email" type="email" name = "email" class="form__input" placeholder="Email" required>
				</div>

				<div class="form__field">
					<label id ="lock_adjust" class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
					<input id="login__password" type="password" name = "password" class="form__input" placeholder="Password" required>
				</div>

				<div class="form__field">
					<input class = "bigfont" type="submit" value="Login">
				</div>
			</form>

			<p class="text--center"> <a href="#">Forgot your password?</a></p>
			<!-- <p class="text DOUBLE DASH center"> <a href="/register">Register</a></p> -->
		</div> <!-- /grid__container -->
	</div> <!-- /site__container -->
</template>