	<!-- TO DO -->

	<!-- 1) Left align Search and Schedule Links -->
	<!-- 2) Add profile circle button -->
	<!-- 3) Make profile button a dropdown -->
	<!-- 4) Fix for mobile -->

<template name="navbar">
	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">

			<ul class="nav navbar-nav navbar-left">
				<li><a href="#">My Schedule</a></li>
				<li class="active"><a href="/search">Search <span class="sr-only">(current)</span></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">				
				<li class="dropdown">
					<a href="#profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Settings</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Sign Out</a></li>

					</ul>
				</li> <!-- /dropdown -->
			</ul>
		</div>
	</nav>
</template>