<template name="schedule">

	<div class="row">
		<div class="col-lg-12 text-center v-center">

			<!-- TOGGLE BUTTON -->
			<h2>TOGGLE HERE</h2>
			<!-- SAVED BUTTON -->
		</div>
	</div> <!-- /row -->

	<div class="row">
		<div class="col-lg-12 text-center v-center">

			<!-- VERTICAL ACCORDION FILLED WITH COURSE SELECTION POPUPS-->
			<h2>COURSES HERE</h2>
			
		</div>
	</div> <!-- /row -->

	<div class="row">
		<div class="col-lg-12 text-center v-center">

			<!-- SUBMIT BUTTON -->
			<h2>SUBMIT HERE</h2>
		</div>
	</div> <!-- /row -->

</template>