<template name="schedule">

	<div class="row">
		<div class="col-lg-9 text-center v-center">
			<h1>My Schedule:</h1>
		</div>
		<div class="col-lg-2 text-center v-center">
			<form class="form form--login">

				<div class="form__field">
					<input class = "bigfont" type="submit" value="Saved">
				</div>
			</form>
		</div>
		<div class="col-lg-1 text-center v-center"></div> <!-- BUFFER -->
	</div>
	
	<div class="row">
		<div class="col-lg-1 text-center v-center"></div> <!-- BUFFER -->
		<div class="col-lg-10 text-center v-center">
			{{>courseaccordion}}
		</div>
		<div class="col-lg-1 text-center v-center"></div> <!-- BUFFER -->
	</div>
	
</template>