<template name="search">
	<!-- SEARCH -->
	<div class="container-full">
		<div class="row search_container">

			<div class = "col-md-2 text-center">

			</div> <!-- col -->

			<div class = "col-md-2 text-center">
				
				<div class="btn-group">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Select a Country <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Item I</a></li>
						<li><a href="#">Item II</a></li>
						<li><a href="#">Item III</a></li>
						<li><a href="#">Item IV</a></li>
						<li><a href="#">Item V</a></li>
						<li class="divider"></li>
						<li><a href="#">Other</a></li>
					</ul>
				</div>
			</div> <!-- col -->

			<div class = "col-md-2 text-center">

				<div class="dropdown search_drop">
					<button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">CREDITS
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#">1 Credit</a></li>
							<li><a href="#">1/2 Credit</a></li>
						</ul>
					</div>

				</div> <!-- col -->

				<div class = "col-md-2 text-center">

					<select id="day">
						<option value="hide">-- Day --</option>
						<option value="2010">1</option>
						<option value="2011">2</option>
						<option value="2012">3</option>
						<option value="2013">4</option>
						<option value="2014">5</option>
						<option value="2015">6</option>
					</select>

				</div> <!-- col -->

				<div class = "col-md-2 text-center">
					<button type="button" class="btn btn-default btn-block search_drop">SEARCH</button>
				</div> <!-- col -->


				<div class = "col-md-2 text-center">

				</div> <!-- col -->

			</div> <!-- row -->
		</div>

	</template>