	<!-- TO DO -->
	<!-- 1) Fix select dropdowns -->
	<!-- 2) Fix Header -->
	<!-- 3) Fix device compatibility (i.e. text scaling) -->

	<template name="search">

		<!-- SEARCH -->
		<div class="container-full">

			<div class = "row header_container">
				<div class = "col-lg-6 text-center">	
					<h1 class = "searchHeader">Find the perfect course.</h1>
				</div>
			</div>

			<div class="row search_container">

				<div class = "col-lg-2 text-center">
				</div> <!-- col -->

				{{> searchform}}

					<div class = "col-lg-2 text-center">
					</div> <!-- col -->

				</div> <!-- row -->
			</div>

		</template>