<template name = "settings">

	<div class="row"></div> <!-- /row -->

	<div class="row">

		<div class="col-lg-4 text-center v-center">

			<!-- Profile Pic, Name, School, Graduation Year -->
			{{#with currentUser}}
				{{#with profile}}
					<h1 id = "profname"> {{firstname}} {{lastname}}</h1>
					<h3 id = "profschool">{{school}}</h3>
					<h3 class = "proflighttext">Class of {{grad_year}}</h3>
				{{/with}}
			{{/with}}

			

		</div> <!-- /col -->

		<div class="col-lg-2 text-center v-center"></div> <!-- /col -->

		<div class ="col-lg-4 text-center v-center">
			
			<!-- Email Address, Change Password -->
			<h3 id = "profemail">Email</h3>
			{{#with currentUser}}
				{{#with emails}}
				<!-- FIX EMAIL ISSUE -->
					<h3 class = "proflighttext">{{address}}</h3>
				{{/with}}
			{{/with}}
			<br>
			<form class="form form--login">
				<div class="form__field">
					<label id ="lock_adjust" class="fontawesome-lock" for="login__password"><span class="hidden">Old Password</span></label>
					<input id="login__password" type="password" name = "password" class="form__input" placeholder="Old Password" required>
				</div>

				<div class="form__field">
					<label id ="lock_adjust" class="fontawesome-lock" for="login__password"><span class="hidden">New Password</span></label>
					<input id="login__password" type="password" name = "password" class="form__input" placeholder="New Password" required>
				</div>

				<div class="form__field">
					<input class = "bigfont" type="submit" value="Change Password">
				</div>
			</form>
			
		</div> <!-- /col -->

		<div class="col-lg-2 text-center v-center"></div> <!-- /col -->

	</div> <!-- /row -->

</template>