<template name = "settings">

	<div class="row">
	</div>

	<div class="row">

		<div class="col-lg-4 text-center v-center">

			<!-- Profile Pic, Name, School, Graduation Year -->
			<h1 id = "profname">Keivan Shahida</h1>
			<h3 id = "profschool">Horace Mann School</h3>
			<h3 class = "proflighttext">Class of 2016</h3>


		</div> <!-- /col -->

		<div class ="col-lg-8 text-center v-center">
			
			<!-- Email Address, Change Password -->
			<h3 id = "profemail">Email</h3>
			<h3 class = "proflighttext">keivanshahida@icloud.com</h3>



		</div> <!-- /col -->

	</div> <!-- /row -->

</template>