<template name = "settings">

	<div class="row"></div> <!-- /row -->

	<div class="row">

		<div class="col-lg-4 text-center v-center">
			<br><br>
			<div id="wrap">
				<img class="avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg" />
			</div>
			<!-- Profile Pic, Name, School, Graduation Year -->
			{{#with currentUser}}
				{{#with profile}}
					<h1 class = "username"> {{firstname}} {{lastname}}</h1>
					<h3 class = "userdetail">{{school}}</h3>
					<h3 class = "userdetail">Class of {{grad_year}}</h3>
				{{/with}}
			{{/with}}

			

		</div> <!-- /col -->

		<div class="col-lg-2 text-center v-center"></div> <!-- /col -->

		<div class ="col-lg-4 text-center v-center">
			<br><br><br><br><br><br>
			<!-- Email Address, Change Password -->
			{{#with currentUser}}
			{{#with emails}}
			<!-- FIX EMAIL ISSUE -->
			<h3 class = "useremail">Email: skim@icloud.com</h3>
			{{/with}}
			{{/with}}
			<br>
			<form class="form form--login">
				<div class="form__field">
					<label id ="lock_adjust" class="fontawesome-lock" for="login__password"><span class="hidden">Old Password</span></label>
					<input id="login__password" type="password" name = "password" class="form__input" placeholder="Old Password" required>
				</div>

				<div class="form__field">
					<label id ="lock_adjust" class="fontawesome-lock" for="login__password"><span class="hidden">New Password</span></label>
					<input id="login__password" type="password" name = "password" class="form__input" placeholder="New Password" required>
				</div>

				<div class="form__field">
					<input class = "bigfont" type="submit" value="Change Password">
				</div>
			</form>
			
		</div> <!-- /col -->

		<div class="col-lg-2 text-center v-center"></div> <!-- /col -->

	</div> <!-- /row -->

</template>