/*=================================================
||				Imports 
==================================================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:200,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*=================================================
||				1. Home
==================================================*/

html,body {
  font-family: 'Roboto', 'Open-Sans', sans-serif;
  height:100%;
  padding-top: 20px; 
  background-color:#4CBAFF;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {

  font-family: 'Comfortaa', cursive;
  font-size: 6em;
  letter-spacing: 10px;
  font-weight: 200;
}

h2 {

  font-family: 'Comfortaa', cursive;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 200;
}

.lead {
	font-size: 1.4em;
	letter-spacing: 3px;
	text-transform: uppercase;
}

/* CUSTOM FULL CONTAINER */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  color:white;
  overflow:hidden;
}

.container-full a {
  color:white;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

/* CUSTOM HALF CONTAINER */
.container-half {
  margin: 0 auto;
  overflow:hidden;
  padding-top: 0;
}


/*SIGN IN BUTTON*/

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #009FFD;
}

.text {
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 6px;
    fill: #0471A6;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.header_container{

 margin-left: 5%;
 margin-top: 10%;
}

 /*=================================================
||        2. Search
==================================================*/

.searchHeader{
 font-family: 'Roboto', 'Open-Sans', sans-serif;
 font-size: 3em;
 font-weight: 100;
 letter-spacing: 5px;
 height:100%;
 color: white;

}

.search_container{

  margin-top: 10%;
}


.search_drop{

  margin-bottom: 2%;
}

.dropdown-menu{

  font-family: 'FontAwesome', sans-serif;
  font-weight: bold;
}

select{

  -moz-appearance: none;
}

option{

  background-color: #ffffff;
  color: #000000;
}

/*=================================================
||        3. Schedule
==================================================*/


.schedule h1{

  font-family: 'Roboto', 'Open-Sans', sans-serif;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: left;
  margin-left: 10%;
}

.schedule p{
  font-family: 'Roboto', 'Open-Sans', sans-serif;
  font-size: 1em;

}

.schedule .v-center{

  margin-top: 4%;
}

/*=================================================
||        3. COURSE ACCORDION
==================================================*/

.panel-body{
  font-family: 'Roboto', 'Open-Sans', sans-serif;
  font-size: 2em;
  color: black;
}

/*=================================================
||        4. SETTINGS
==================================================*/

.settings .username{

  font-family: 'Roboto', 'Open-Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 3.5em;
}

.settings .userdetail{

  font-family: 'Roboto', 'Open-Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 1.5em;
}

.settings .useremail{
  font-family: 'Roboto', 'Open-Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  font-size: 2em;
}

/* Rounded avatar */

.settings #wrap {
  text-align: center;
}

.avatar {
  border-radius: 50% 50% 50% 50%;
}



/*=================================================
||        4. COURSE MODAL
==================================================*/

#myModalLabel{
  color: black;
  font-size: 1.4em;
}

.modal-body{
  color: black;
  font-size: 1.4em;

}

/*=================================================
||        6. ADAPTIVE CSS
==================================================*/


@media screen and (max-width: 556px) {
 h1 {
   font-size:3em;
 }

 .lead{
  font-size: .9em;
}

h2 {
  font-size: 2.5em;
}

.searchHeader{
  font-size:2em;
}
}